<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        {% load bootstrap %}
        <title>Авторизация</title>
    </head>

    <body>
    <div class="container">
        <h2>Авторизация</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-col">
                {{ form|bootstrap }}
                <input type="submit" value="Войти" >
            </div>
        </form>
    </div>
    </body>
</html>