{% extends "tests/../base.html" %}
{% block title %}Список предметов{% endblock title %}

{% block content %}
    <h2 style="margin-bottom: 30px">Предметы</h2>

    <ul class="list-group">
    {% for subject in data %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col-auto">{{ subject.name }}</div>
                <div class="col-auto">
                    <a href="edit/?subject={{ subject.id }}"><button type="button" class="btn btn-outline-secondary btn-sm">Изменить</button></a>
                    <a href="topics/?subject={{ subject.id }}"><button type="button" class="btn btn-outline-secondary btn-sm">Темы</button></a>
                    <a href="results/?subject={{ subject.id }}"><button type="button" class="btn btn-outline-success btn-sm">Результаты</button></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <a href="add/"><button type="button" class="btn btn-primary" style="margin-top: 20px">Добавить</button></a>
{% endblock content %}