{% extends "tests/../base.html" %}
{% block title %}Темы{% endblock title %}

{% block content %}
    <h2 style="margin-bottom: 30px">Список тем по дисциплине {{ subject.name }}</h2>

    <ul class="list-group">
    {% for topic in data %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col-auto">{{ topic.name }}</div>
                <div class="col-auto">
                    <a href="remove/?topic={{ topic.id }}"><button type="button" class="btn btn-outline-danger btn-sm">Удалить</button></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: 20px">Добавить</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Добавить новую тему</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <form method="post" action="add/?subject={{ subject.id }}">
               {% csrf_token %}
            <div class="mb-3">
                <label for="topicName" class="col-form-label">Название темы</label>
                <input type="text" class="form-control" name="name" id="topicName">
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary">Сохранить</button>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
    <script>
        $('.modal-dialog .btn-primary').click(function () {
            $('.modal-body form').submit()
        });
    </script>
{% endblock %}