<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Стандартный заголовок{% endblock %}</title>

    {% load static %}

    <!-- Loading bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Loading std CSS styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>

<body>
    <div class="main-container">
        <div class="menu-container">
            <a class="menu-element" href="/tests">
                <div class="menu-image"><img src="{% static 'img/notes.svg' %}"></div>
                <div class="menu-text">Тесты</div>
            </a>

            <a class="menu-element" href="/subjects">
                <div class="menu-image"><img src="{% static 'img/cube.svg' %}"></div>
                <div class="menu-text">Предметы</div>
            </a>

            <a class="menu-element" href="/account">
                <div class="menu-image"><img src="{% static 'img/settings.svg' %}"></div>
                <div class="menu-text">Настройки</div>
            </a>
        </div>
        <div class="content-container">{% block content %}{% endblock content %}</div>
    </div>
</body>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock scripts %}

</html>