{% extends "tests/../base.html" %}
{% block title %}Добавить шаблон{% endblock title %}
{% block header %}Добавить шаблон{{ data.topic_number }}{% endblock header %}
{% load static %}

{%  block content %}
    <h2 style="margin-bottom: 25px">Добавлить шаблон</h2>

    <form method="post">
        {% csrf_token %}
        <label for="chooseSubj">Предмет</label>
        <select class="form-control" id="chooseSubj" name="subject" style="margin-bottom: 20px">
            {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>

        <label for="chooseSubj">Тема</label>
        <select class="form-control" id="chooseTopic" name="topic" style="margin-bottom: 20px">
            {% for topic in topics %}
            <option value="{{ topic.id }}">{{ topic.subject.name }} / {{ topic.name }}</option>
            {% endfor %}
        </select>

        <label for="question">Условие</label>
        <input class="form-control" type="text" id="question" name="question" style="margin-bottom: 20px">

        <label>Диапазон генерации значений переменных шаблона</label>
        <div class="form-row align-items-center" style="margin-bottom: 20px">
            <div class="col-md-2 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">От</div>
                </div>
                <input type="number" class="form-control" name="generate_from" id="generate_from">
            </div>

            <div class="col-md-2 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">До</div>
                </div>
                <input type="number" class="form-control" name="generate_to" id="generate_to">
            </div>
        </div>

        <label for="expression">Формула, по которой вычисляется ответ к тесту</label>
        <samp><textarea class="form-control" id="expression" name="expression" style="margin-bottom: 20px"></textarea></samp>

        <label>Диапазон генерации ответов к шаблону</label>
        <div class="form-row align-items-center" style="margin-bottom: 20px">
            <div class="col-md-2 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">От</div>
                </div>
                <input type="number" name="answer_from" class="form-control" id="answer_from">
            </div>
             <div class="col-md-2 input-group mb-2">
                 <div class="input-group-prepend">
                     <div class="input-group-text">До</div>
                 </div>
                 <input type="number" name="answer_to" class="form-control" id="answer_to">
             </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Добавить">
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/enableTabInForm.js' %}"></script>
    <script>
        tabInsertInit(document.getElementById('expression'))
    </script>
{% endblock scripts %}