{% extends "tests/base.html" %}
{% block title %}Добавить шаблон{% endblock title %}
{% block header %}Добавить шаблон{{ data.topic_number }}{% endblock header %}

{%  block content %}
    <div class="card" style="margin-bottom: 20px">
        <div class="card-body">
            <label for="chooseSubj">Предмет</label>
            <select class="form-control" id="chooseSubj" style="margin-bottom: 20px">
                <option>Дискретная математика</option>
            </select>

            <label for="chooseSubj">Тема</label>
            <select class="form-control" id="chooseTopic" style="margin-bottom: 20px">
                <option>Комбинаторика</option>
            </select>

            <label for="chooseSubj">Уровень сложности</label>
            <select class="form-control" id="chooseTopic" style="margin-bottom: 20px">
                <option>1</option>
            </select>

            <label for="chooseQu">Условие</label>
            <input class="form-control" type="text" id="chooseQu" style="margin-bottom: 20px">

            <label for="patternText">Текст шаблона</label>
            <samp><textarea class="form-control" id="patternText" style="margin-bottom: 20px"></textarea></samp>

            <label>Диапазон генерации значений переменных шаблона</label>
            <div class="form-row align-items-center" style="margin-bottom: 20px">
                <div class="col-md-2 input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">От</div>
                    </div>
                    <input type="text" class="form-control" id="answerPatternFrom">
                </div>

                <div class="col-md-2 input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">До</div>
                    </div>
                    <input type="text" class="form-control" id="answerPatternTo">
                </div>
             </div>

            <label for="answerText">Формула, по которой вычисляется ответ к тесту</label>
            <samp><textarea class="form-control" id="answerText" style="margin-bottom: 20px"></textarea></samp>

            <label>Диапазон генерации ответов к шаблону</label>
            <div class="form-row align-items-center" style="margin-bottom: 20px">
                <div class="col-md-2 input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">От</div>
                    </div>
                    <input type="text" class="form-control" id="answerPatternFrom">
                </div>

                <div class="col-md-2 input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">До</div>
                    </div>
                    <input type="text" class="form-control" id="answerPatternTo">
                </div>
             </div>

            <input class="btn btn-primary" type="submit" value="Добавить">
        </div>
    </div>
{% endblock content %}