{% extends "tests/../base.html" %}
{% block title %}Вопрос №{{ test.question_count }}{% endblock title %}

{% block content %}
    <div>
        <h2 style="margin-bottom: 30px">Вопрос {{ test.question_count }} из {{ test.total_questions }}</h2>
        <div class="progress">
            <div class="progress-bar" style="width: {{ progress }}%" role="progressbar">{{ test.question_count }}</div>
        </div>
    </div>

    <div>
        <h4 style="margin: 10% 0px 30px 0px">{{ question.heading }}</h4>
        <p style="margin-bottom: 30px"><samp>{{ question.body }}</samp></p>
        <form method="post" action="/tests/pass/">
        {% csrf_token %}
            {% for answer in question.answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer_{{ answer }}" value="{{ answer }}">
                    <label class="form-check-label" for="answer_{{ answer }}">
                        {{ answer }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" style="margin-top: 20px" class="btn btn-primary">Далее</button>
        </form>
    </div>
{% endblock content %}