{% extends "tests/base.html" %}
{% block title %}Список тестов по темам{% endblock title %}

{% block content %}
    <h2>Список тестов</h2>

    <div class="container-fliud">
    <div class="accordion" id="testList">
        {% for topic in data %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="TopicHeading{{ topic.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Collapse{{ topic.id }}" aria-expanded="false" aria-controls="Collapse{{ topic.id }}">
                        {{ topic.id }} / {{ topic.name }}
                        </button>
                </h2>
                <div id="Collapse{{ topic.id }}" class="accordion-collapse collapse" aria-labelledby="TopicHeading{{ topic.id }}" data-bs-parent="#testList">
                    <div class="accordion-body">
                        <p><strong>Лучший результат:</strong> 10/10</p>
                        <p><strong>Использовано попыток:</strong> 10/10</p>
                        <a class="btn btn-primary" role="button" href="{{ topic.id }}">Начать прохождение</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}